<div class="container mt-3">
  <h3 class="m-3">Alle Einträge</h3>
  <div class="table-responsive">
    <table class="m-3 table table-striped table-hover">
      <caption>Alle <code>parameter</code></caption>
      <thead>
      <tr>
        <th scope="col ">Nr</th>
        <th scope="col ">id</th>
        <th scope="col ">Achsen</th>
        <th scope="col ">Dieselverbrauch</th>
        <th scope="col ">gewichtsklasse</th>
        <th scope="col ">schadstoffklasse</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of datas; let i=index; ">
        <td>{{ i+1 }}</td>
        <td>{{ data._id }}</td>
        <td>{{ data.achse }}</td>
        <td>{{ data.dieselverbrauch }}</td>
        <td>{{ data.gewichtsklasse }}</td>
        <td>{{ data.schadstoffklasse }}</td>
        <td>
          <a [routerLink]="['/data', data._id]"> <span class=" bi bi-pencil-square px-5 "></span></a>
          <span (click)="delete(data._id)" class=" bi bi-trash px-5 "></span>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>
