<p>routeplaning works!</p>
<mat-form-field appearance="fill">
  <mat-label>Your adress</mat-label>
  <input ngx-google-places-autocomplete
         [options]="options"
         (onAddressChange)="handleAddressChange($event)"type="text" matInput placeholder="Enter adress"/>
</mat-form-field>


<div class="row mt-3">
  <div class="col-6 offset-3" *ngIf="isApiLoaded">
    <input class="form-control"
           ngx-google-places-autocomplete
           [options]="options"
           (onAddressChange)="handleAddressChange($event)"
    />
  </div>
</div>

<div class="full" id="map">

</div>
