<p>routeplaning works!</p>
<form [formGroup]="form" >
<div>
  <mat-form-field appearance="fill" *ngIf="isApiLoaded">
    <mat-label>Start</mat-label>
    <input  formControlName="startControl"
            id="start"
            class="form-control"
            ngx-google-places-autocomplete
            [options]="options"
            (onAddressChange)="handleAddressChangeStart($event)"
            type="text" matInput placeholder="Enter Start"/>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill" *ngIf="isApiLoaded">
    <mat-label>Ziel</mat-label>
    <input  formControlName="zielControl"
            id="ziel"
            class="form-control"
            ngx-google-places-autocomplete
            [options]="options"
            (onAddressChange)="handleAddressChangeZiel($event)"
            type="text" matInput placeholder="Enter Ziel"/>
  </mat-form-field>
</div>
</form>


<!--<div class="row mt-3">
  <div class="col-6 offset-3" *ngIf="isApiLoaded">
    <input class="form-control"
           ngx-google-places-autocomplete
           [options]="options"
           (onAddressChange)="handleAddressChangeStart($event)"
    />
  </div>
</div>-->
<button (click)="calcRoute()">
  Go
</button>
<div class="full" id="map">

</div>
<div id="output">

</div>
<div id="km" >

</div>

